.panel-title {
    font-weight: bold;
}
#rqLogo {
    color: #fff;
}
.table tbody>tr>td{
    vertical-align: middle;
}
.table .btn {
	margin:0px 1px;
}
.table i.fa.fa-arrow-circle-right {
	color: #0f9d58;
}