h1,h2,h3,h4,h5,h6 {
	text-transform: uppercase;
}
#search-icon {
	color:#fff;
	margin-top:3px;
}
#add-new {
	color:#8BC34A;
}
.table tbody>tr>td{
    vertical-align: middle;
}
.table .btn {
	margin:0px 1px;
}
.table i.fa.fa-arrow-circle-right {
	color: #304FFE;
}