<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="panel panel-primary" ng-if="requests != 0">
                <div class="panel-heading">
                    <h3 class="panel-title">Requests <strong>({{requests.length}})</strong></h3>
                </div>
                <div class="panel-body">
                    <ul class="requestList">
                        <li ng-repeat="request in requests">
                            <span class="completed" ng-if="request.Complete">
                                <a ng-click="completeRequest(request.ID)">
                                    <i class="fa fa-check-square fa-lg" style="color:#4CAF50"></i>
                                </a>
                            </span>
                            <span class="completed" ng-if="!request.Complete">
                                <a ng-click="reverseCompleteRequest(request.ID)">
                                    <i class="fa fa-square fa-lg" style="color:#ccc"></i>
                                </a>
                            </span>
                            <a ng-href="/#/request/{{request.ID}}">
                                <span class="notes">{{request.Notes}}</span>
                                <span class="name">{{request.FirstName}} {{request.LastName}}</span>
                                <span class="referenceID pull-right hidden-xs">{{request.ReferenceID}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>