<form class="form-horizontal" role="form" id="rqForm">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h1 class="text-center"><span ng-if="editableRequest.complete"><i class="fa fa-check-square fa-lg" style="color:#4CAF50"></i> </span>{{editableRequest.referenceID}}: <strong>{{editableRequest.notes}}</strong></h1>
                <hr />
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="panel panel-primary panel-material-bluegrey">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-user fa-lg"></i> <strong>Requested By</strong></h3>
                    </div>
                    <div class="panel-body">
                        <label for="FirstName">First Name:</label>
                        <input type="text" id="FirstName" name="FirstName" class="form-control"
                               ng-model="editableRequest.firstName" />
                        <br />
                        <label for="LastName">Last Name:</label>
                        <input type="text" id="LastName" name="LastName" class="form-control"
                               ng-model="editableRequest.lastName" />
                        <br />
                        <label for="RequestorEmail">Email:</label>
                        <input type="text" id="RequestorEmail" name="RequestorEmail" class="form-control"
                               ng-model="editableRequest.requestorEmail" />
                    </div>
                </div>
            </div>

            <div class="col-lg-9 col-md-9 col-sm-9">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="panel panel-primary panel-material-indigo">
                            <div class="panel-heading">
                                <h3 class="panel-title"><strong><i class="fa fa-newspaper-o fa-lg"></i> Request Information</strong></h3>
                            </div>
                            <div class="panel-body">
                                <label for="Notes">Notes:</label>
                                <textarea id="Notes" name="Notes" class="form-control"
                                          ng-model="editableRequest.notes"></textarea>
                                <br />
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="panel panel-primary panel-material-indigo">
                            <div class="panel-heading">
                                <h3 class="panel-title"><strong><i class="fa fa-check fa-lg"></i> Complete Request</strong></h3>
                            </div>
                            <div class="panel-body">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="editableRequest.complete" ng-change="updateCompletion()"><span class="ripple"></span><span class="check"></span> Completed
                                    </label>
                                    <p class="hint">Check the box to complete the request.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12" ng-if="editableRequest != request">
                        <div class="text-center action-btn-group">
                            <label class="material-grey">
                                <button class="btn btn-fab btn-raised btn-material-grey" ng-click="resetRequestForm()"><i class="fa fa-undo"></i></button> Cancel
                            </label>
                            <label class="material-teal">
                                <button class="btn btn-fab btn-raised btn-material-teal" ng-click="submitRequestForm()"><i class="fa fa-floppy-o"></i></button> Save
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>