<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12" ng-if="requests != 0">
            <input type="text" class="form-control" placeholder="Filter" ng-model="searchText">
            <hr />
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Requests <strong>({{requests.length}})</strong></h3>
                </div>
                <div class="panel-body">
                    <ul class="requestList">
                        <li ng-repeat="request in requests | filter:searchText">
                            <span class="completed" ng-if="request.completed">
                                <a ng-click="completeRequest(request.id)">
                                    <i class="fa fa-check-square fa-lg" style="color:#4CAF50"></i>
                                </a>
                            </span>
                            <span class="completed" ng-if="!request.completed">
                                <a ng-click="reverseCompleteRequest(request.id)">
                                    <i class="fa fa-square fa-lg" style="color:#ccc"></i>
                                </a>
                            </span>
                            <a ng-href="/#/request/{{request.id}}">
                                <span class="notes">{{request.notes}}</span>
                                <span class="name">{{request.firstName}} {{request.lastName}}</span>
                                <span class="referenceID pull-right hidden-xs">{{request.referenceID}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>